.project{
    background-color: color(darkBlack);
    min-height: 90vh;
}
.project-list{
    padding: 15px 150px;
    list-style: none;
    @include responsive-custom(mobile){
        padding: 25px 50px 25px;
    }
}
.project-item{
    padding-top: 80px;
    display: flex;  
    @include responsive-custom(mobile){
        display: block;
        padding: 15px 0 15px;
    }
}
.project-intro{
    width: 25%;
    height: auto;
    background-color: #fff;
    @include responsive-custom(mobile){
        width: 100%;
        height: 180px;
    }
} 
.project-figure{
    @extend %flexLayout;
    background-color: color(primary);
    justify-content: center;
    width: 80%;
    @include responsive-custom(mobile){
        width: 100%;
        height: 180px;
    }
}