$colors: (
    darkBlack: #282828,
    primary: #757575,
    secondary: #bdbdbd,
    third: #ececec,
    warningSuccess: #51b736
);

$fontSizes: (
    sectionName: 50px,
    paragraphM: 20px,
    paragraphS:5px,
);

$font-Open-Sans: 'Open Sans', sans-serif;

